<!doctype html>
<html lang="en" class="w-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<style>

</style>
<body class="bg-light w-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
</nav>

<div class="container w-100" id="root">
    <div class="row">
        <div class="col-7 mt-5">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="input">Username</label>
                        <input type="text" class="form-control" placeholder="Username"  v-model="newEmail">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password" v-model="newPassword">
                    </div>
                </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Year</label> <select id="inputState" class="form-control">
                            <option  v-for="year in years">{{year}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Month</label>
                        <select id="inputState" class="form-control">
                            <option  v-for="month in months">{{month}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Day</label>
                        <select id="inputState" class="form-control">
                            <option  v-for="day in days">{{day}}</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-dark" @click="addAccount">Sign in</button>
            </form>
        </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el : '#root',
        data: {
            years:[],
            months: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
            days:[],
            account:{email:"",password:""},
            newEmail: "",
            newYear:"",
            newPassword:""
        },
        methods:{
            addAccount:function () {
                if (this.newEmail!==""&&this.newPassword!==""){
                this.account.email=this.newEmail
                this.account.password=this.newPassword
                window.location.href = "/home?user:"+ this.newEmail;
                }
                else {
                    alert("You didn't write Username or Password")
                }
            }
        }
        ,
        mounted:function () {
            for (i=2018;i>=1950;i--){
                this.years.push(i)
            }
                for (i=1;i<=31;i++){
                    this.days.push(i)
                }
            }
    })



</script>
</body>
</html>